* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-grey);
  color: var(--color-dark);
  font-family: 'Asap', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/*  ########### header css #########  */

.header {
  background-color: var(--color-dark);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.site-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-info h1 {
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar li a:link,
.navbar li a:visited {
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: var(--color-dark);
  display: block;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

/* content-area css  */
.content-area {
  flex-direction: column;
}
.main-content-area {
  padding: 10px;
}

/* posts css  */
.posts {
  display: flex;
  flex-direction: column;
}
.post {
  background-color: var(--color-white);
  margin-bottom: 20px;
}
.post img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.post figure {
  display: flex;
  flex-direction: column;
}
.post figure h2 {
  background-color: var(--color-primary);
  text-align: center;
  padding: 20px;
  color: var(--color-dark);
  text-transform: capitalize;
}

.post p {
  padding: 25px;
  color: var(--color-dark);
  line-height: 1.5;
}

/* watch now section css  */

.watch-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-white);
  margin-bottom: 15px;
}
.watch-img img {
  width: 100%;
}
.watch-content {
  padding: 20px;
}

.watch-content h3 {
  text-transform: capitalize;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 400;
}
.watch-content p {
  margin-bottom: 15px;
}

.watch-content p span {
  margin-right: 10px;
  font-size: 22px;
}

/* download section  */
.download-img {
  height: 250px;
}
.download-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.download-content {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
}
.download-link {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  text-transform: capitalize;
  font-size: 22px;
}
.download-info {
  background-color: var(--color-white);
  padding: 20px;
}

.download-rating {
  background-color: var(--color-primary);
}

.download-cast img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.download-genre {
  margin-bottom: 10px;
}

.download-cast h4,
.download-genre h4 {
  flex: 0 0 50px;
  align-self: center;
}

.download-rating {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: 700;
}
/* gallary section css  */
.gallary-imgs {
  display: flex;
  flex-wrap: wrap;
}
.gallary-img {
  height: 350px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.gallary-img a {
  display: block;
  height: 100%;
}

.gallary-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* sidebar section css  */
.wedget {
  padding: 20px;
}

.wedget-card {
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 20px;
}
.wedget-card a {
  color: var(--color-dark);
  font-weight: 700;
}
.wedget-card  h3{
  margin-bottom: 10px;
}
.wedget-card ul {
  margin-left: 10px;
}
.footer{
  background-color: var(--color-dark);
  color: var(--color-white);
  text-align: center;
  padding: 20px;
}
/* // / for dev width > 768 */
@media all and (min-width: 768px) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .post {
    width: 49%;
  }

  .watch-card {
    flex-direction: row;
  }

  .watch-img {
    flex: 0 0 400px;
  }
  .watch-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reverse .watch-img {
    order: 1;
  }
  .watch-content {
    padding: 30px;
    align-self: center;
  }

  .download-img {
    height: auto;
    background-color: var(--color-dark);
  }
  .download-content {
    flex-direction: row;
  }
  .download-info {
    flex-grow: 1;
  }
  .download-link,
  .download-rating {
    flex: 0 0 150px;
  }

  .gallary-imgs{
    margin-left: -10px;
    justify-content: space-between;
  }
  .gallary-img{
    margin-left: 10px;
    flex-basis: 48%;
    flex-grow: 0;
  }
}
/* // / for dev width > 1180  */

@media all and (min-width: 1180px) {
  .navbar ul {
    flex-direction: row;
  }
  .navbar ul li {
    flex-grow: 1;
  }

  .content-area {
    flex-direction: row;
  }
  .main-content-area {
    flex-grow: 1;
    padding: 20px;
  }
  .sidebar-section {
    flex: 0 0 400px;
  }
  .post {
    width: 100%;
  }
  .one-half {
    width: 49%;
  }
  .one-third {
    width: 32%;
  }
  .download-link,
  .download-rating {
    flex: 0 0 200px;
  }

  /* 1 5 9  */
  /* 2 6 10   
  
  (4n + 2)
  (4*0 + 2) = 2
  (4*1+ 2) = 6
  (4*2+ 2) = 10
  
  */ 


  /* 
  (4n + 3) 
  (4*0 + 3)  >> 3
  (4*1 + 3)  >> 7
  (4*2 + 3)  >> 11
  
    (4n + 4)  
    (4 * 0 + 4)   >> 4
    (4 * 1 + 4)   >> 8
    (4 * 2 + 4)   >> 12
  */
  .gallary-img{
    flex-grow: 1
  }
  .gallary-img:nth-child(4n + 1){
    flex-basis: 260px;
  }

  .gallary-img:nth-child(4n + 2){
    flex-basis: 340px;
  }

  .gallary-img:nth-child(4n + 3){
    flex-basis: 180px;
  }

  .gallary-img:nth-child(4n + 4){
    flex-basis: 420px;
  }

}
